In [26]:
import pandas as pd
import networkx as nx
from tqdm import tqdm

In [8]:
data= pd.read_csv('jams.tsv',error_bad_lines=False,sep='\t',encoding='utf-8')

b'Skipping line 7872: expected 7 fields, saw 8\nSkipping line 11730: expected 7 fields, saw 9\nSkipping line 14131: expected 7 fields, saw 8\nSkipping line 58054: expected 7 fields, saw 8\nSkipping line 58754: expected 7 fields, saw 8\n'
b'Skipping line 847129: expected 7 fields, saw 8\n'
b'Skipping line 1091153: expected 7 fields, saw 8\nSkipping line 1175375: expected 7 fields, saw 8\n'
b'Skipping line 1225935: expected 7 fields, saw 8\nSkipping line 1255357: expected 7 fields, saw 8\nSkipping line 1279671: expected 7 fields, saw 8\n'
b'Skipping line 1330675: expected 7 fields, saw 8\n'
b'Skipping line 1448033: expected 7 fields, saw 8\nSkipping line 1543893: expected 7 fields, saw 8\n'
b'Skipping line 1579569: expected 7 fields, saw 8\nSkipping line 1612448: expected 7 fields, saw 8\n'
b'Skipping line 1784588: expected 7 fields, saw 8\n'

In [10]:
data.head(5)

,jam_id,user_id,artist,title,creation_date,link,spotify_uri
0,c2e76bb92c7fa733fdfc9be40bb0e4ea,b99ebf68a8d93f024e56c65e2f949b57,Orange Juice,Rip It Up,2011-08-26,NaN,spotify:track:6AGhDIyDbRonzGTdbIsNXa
1,5d2bc46196d7903a5580f0dbedc09610,c1066039fa61eede113878259c1222d1,Erkin Koray,Hele Yar,2011-08-26,NaN,NaN
2,4849f8c893a792032dbc15eb77cfd0cd,d8a96caeef5c7d8dbdc9cec28aa9c044,Stereo,Somewhere In the Night,2011-08-26,NaN,spotify:track:2ZM9sVP0blBj1lNIEg4dgn
3,8940ff2e8e38c8f1a4676e09d152c0cd,b1c81a51f5286d70e5820ecb85aeba96,The Mills Brothers,I Got Her Off My Hands,2011-08-26,NaN,spotify:track:096elxAmYuyAFJKPLrS5oY
4,4020b45a4c6d5515a3b62c489e169828,4fdc0257bc476bffd3e73564ecaa75e0,Various,Zum Volksfest,2011-08-26,NaN,NaN

In [11]:
net = pd.read_csv('followers.tsv',error_bad_lines=False,sep='\t',encoding='utf-8')

In [15]:
len(net['followed_user_id'].unique())

93562

In [16]:
len(net['follower_user_id'].unique())

89683

In [18]:
len(net)

1603404

In [19]:
net.head(5)

                   followed_user_id                  follower_user_id
0  b99ebf68a8d93f024e56c65e2f949b57  1ebda3c5e05265626ab18401fb33a90a
1  c1066039fa61eede113878259c1222d1  1ebda3c5e05265626ab18401fb33a90a
2  d8a96caeef5c7d8dbdc9cec28aa9c044  1ebda3c5e05265626ab18401fb33a90a
3  2969c319775d884b860a897ba9d6156f  1ebda3c5e05265626ab18401fb33a90a
4  ff58e67948917e0ff71ba4b33e158365  1ebda3c5e05265626ab18401fb33a90a

In [20]:
followed=list(net['followed_user_id'].unique())

In [21]:
followers=list(net['follower_user_id'].unique())

In [22]:
nodes=list(set(followed+followers))

In [23]:
len(nodes)

101273

In [25]:
G=nx.Graph()
G.add_nodes_from(nodes)

In [31]:
net.iloc[0]

followed_user_id    b99ebf68a8d93f024e56c65e2f949b57
follower_user_id    1ebda3c5e05265626ab18401fb33a90a
Name: 0, dtype: object

In [32]:
for i in tqdm(range(len(net))):
    G.add_edge(net['followed_user_id'].iloc[i],net['follower_user_id'].iloc[i])

100%|█████████████████████████████████████████████████████████████████████| 1603404/1603404 [01:37<00:00, 16516.46it/s]